
/*========================================================
  Bootstrap Overrides
========================================================*/

body,
p,
.btn {
  font-family: "franklin-gothic-urw", Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

p,
ul,
ol {
  line-height: 1.6;
  margin: 0 0 1.55em 0;
}

h1,
h2,
h3 {
  font-family: "adelle", Helvetica, sans-serif;
  font-weight: 600;
}

.breadcrumb {
  background-color: transparent;
  font-size: 14px;
  padding: 0;
}

.container {
  max-width: 840px;
}



/*========================================================
  Main Content
========================================================*/

.main-content {
  padding-top: 2em;
}


/*========================================================
  Homepage
========================================================*/

.hompage-jumbotron {
  background: url('/static/img/photos/mainfloor.jpg') no-repeat ;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 25%;
  margin-top: -1.2em;
/*  padding-bottom: 4em;
  padding-top: 4em; */
  height: 22em;
}
  .hompage-jumbotron h1,
  .hompage-jumbotron .lead {
    color: white;
    text-shadow: 1px 1px 0 black;
  }
  .hompage-jumbotron .lead {
    font-size: 26px;
    margin-bottom: 2em;
  }

.jumbotron-cover{
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  padding-top: 2em;
}

/*========================================================
  Navigation
========================================================*/

.page-nav {
  background: #f2f4ef url('/static/img/circuit-tile-black.png');
  padding: 0.25em 0;
}
  .page-nav .navbar-brand {
    margin-top: -0.5em;
    font-family: "adelle", Helvetica, sans-serif;
  }


/*========================================================
  Footer
========================================================*/

.page-footer {
  background: #f2f4ef url('/static/img/circuit-tile-black.png');
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  margin-top: 4em;
  padding: 4em 0;
}
  .page-footer h3 {
    margin-top: 0em;
  }


/*========================================================
  Member Section
========================================================*/

.member-summary {
  margin: 3em 0;
}
  .member-summary-header {
    margin-top: 0;
  }
  .member-summary-avatar {
    max-width: 200px;
  }


/*========================================================
  Block Image Shortcode
========================================================*/

.block-image {
  margin: 1.25em 0;
}
