
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3>Find Us!</h3>
            <nav class="footer-nav">
              <ul>
                <li><a href="https://groups.google.com/forum/#!forum/pdxhackerspace">Google Group</a></li>
                <li><a href="https://www.facebook.com/brainsilo">Facebook Page</a></li>
                <li><a href="http://www.meetup.com/BrainSilo/">Meetup.com</a></li>
                <li><a href="https://twitter.com/brainsilopdx">Twitter</a></li>
                <li><a href="https://github.com/brainsilo">Github</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-sm-6">
            <h3>Found typos? Content missing?</h3>
            <p>
              Our website's content is open source.
              Please either <a href="https://github.com/lokkju/brainsilo.org" targe="_blank">fork the repository</a>,
              <a href="https://github.com/lokkju/brainsilo.org/issues" targe="_blank">create an issue</a>
              or <a href="/contact/">contact us</a>.
            </p>
            <p class="text-muted">&copy; 2012 &mdash; 2014 BrainSilo</p>
          </div>
        </div>
      </div>
    </footer>
    {{ template "chrome/scripts.html" . }}
  </body>
</html>
