
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h3>Contact Info</h3>
            <nav class="footer-nav">
              <dl>
                <dt>Address:</dt>
                <dd><a href="https://www.google.com/maps/dir//BrainSilo+-+PDX+Hackerspace,+2119+N+Kerby+Ave+%232,+Portland,+OR+97227">2119 N Kerby Ave, Unit C-2, Portland, OR 97227-1978</a></dd>
                <dt>Email:</dt>
                <dd><a href="mailto:admin@brainsilo.org">admin@brainsilo.org</a></dd>
                <dt>Phone:</dt>
                <dd><a href="tel:5037914745">(503) 764-4220</a></dd>
              </dl>
            </nav>
          </div>
          <div class="col-sm-4">
            <h3>Find Us Online</h3>
            <nav class="footer-nav">
              <ul>
                <li><a href="https://groups.google.com/forum/#!forum/pdxhackerspace">Google Group</a></li>
                <li><a href="https://www.facebook.com/brainsilo">Facebook Page</a></li>
                <li><a href="http://www.meetup.com/BrainSilo/">Meetup.com</a></li>
                <li><a href="https://twitter.com/brainsilopdx">Twitter</a></li>
                <li><a href="https://github.com/brainsilo">Github</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <p class="text-muted">&copy; 2014 BrainSilo</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center text-muted">
            <h3>Found typos? Content missing?</h3>
            <p>
              Our website's content is open source.
              Please either <a href="https://github.com/lokkju/brainsilo.org" targe="_blank">fork the repository</a>,
              <a href="https://github.com/lokkju/brainsilo.org/issues" targe="_blank">create an issue</a>
              or <a href="/contact/">contact us</a>.
            </p>
          </div>
        </div>
      </div>
    </footer>
    {{ template "chrome/scripts.html" . }}
  </body>
</html>
