{{ template "chrome/header.html" . }}

  <div class="hompage-jumbotron">
    <div class="container jumbotron-cover">
      <h1>Pascal - Portland Area Scientific and Cultural Advancement League</h1>
      <p class="lead">
        Pascal is Portland's newest 501(c)(3) Hackerspace
        <br>
        Founded in 2017, it is currently in the process of being fully built out
      </p>
    </div>
  </div>

  <div class="main-content container">
    <div class="row">
      <div class="col-sm12">
        <h3>Other Portland Hackerspace Resources</h3>
      </div>
      <div class="col-md-3">
        <a href="http://www.adxportland.com/" class="thumbnail" target="_blank">
          <div class="image">
            <img src="/static/img/hackerspaces/adx.png" class="img img-responsive full-width">
          </div>
          <div class="caption">ADX Portland</div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.freegeek.org/" class="thumbnail" target="_blank">
          <div class="image">
            <img src="/static/img/hackerspaces/freegeek.png" class="img img-responsive full-width">
          </div>
          <div class="caption">Free Geek</div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.dorkbotpdx.org/" class="thumbnail" target="_blank">
          <div class="image">
            <img src="/static/img/hackerspaces/dorkbot.png" class="img img-responsive full-width">
          </div>
          <div class="caption">Dorkbot PDX</div>
        </a>
      </div>
    </div>
    {{ range first 10 .Data.Pages }}
      {{ .Render "summary"}}
    {{ end }}
  </div>

{{ template "chrome/footer.html" }}
